@import "src/styles/main";

.Filter-by-role-container {
  display: flex;
  flex-direction: column;


  .button--group {

    .btn[aria-checked="true"] {
      background-image: linear-gradient(#8c67aa, #1bc0ef) !important;
      color: #fff !important;
    }
    font-size: 16rem;


    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-weight: 400;
      background: transparent;
      color: #000;
      border-radius: 5vw;
      font-size: 14rem;
      padding: 0 0.5vw;

      &:hover {
        cursor: pointer;
      }


      &:focus {
        outline: none;
      }

      &:active, &:focus {
        background-image: linear-gradient(#8c67aa, #1bc0ef);
        color: #fff;
      }


    }
  }
}


