
.Modal-wrapper {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;

  .close-btn {
    position: absolute;
    left: 9px;
    top: 9px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 44px;
      height: 44px;
    }
  }
}

.mask {
  width: 50vh;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.898);
}

.content {
  width: 50vh;
  height: 100%;
  position: absolute;

}
