.wrapper-content-modal {
  position: relative;
  top: 24%;
  width: 80%;
  margin: auto;
  border-radius: 2vw;
  overflow: hidden;
  font-weight: 200;
  color: #6b6767;
  background: #dededf;
  padding: 35px 17px;
}
