.TransferMarket-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background: transparent 50%;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 110% 110%;
    background: url('../../assets/main_bg.jpg');
    background-position: 50%;
    -webkit-filter: blur(2vw) brightness(85%);
    filter: blur(2vw) brightness(85%);
    z-index: -1;
    background-size: 110% 110%;
    background-position: 50%;
  }
}

.hr {
  width: 100%;
}
